* {
    margin: 0;
    padding: 0;
}

.red-border {
    border: 2px solid red;
}

.text {
    background-color: burlywood;
}

a{
    
}

p {
    width: 400px;
    margin: 40px;
    display: block;
}
img{
    display: none;
    width: 700px;
}