<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4a978eedb6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <div class="box">
            <i class="fa-sharp fa-solid fa-2xl fa-calendar-days"></i>
            <div class="content">
                <h3>The largest and greatest</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore eius perferendis natus numquam
                    voluptas, labore ratione iusto illo non nam!</p>
            </div>

        </div>
        <div class="box">
            <i class="fa-sharp fa-solid fa-2xl fa-calendar-days"></i>
            <div class="content">
                <h3>The largest and greatest</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore eius perferendis natus numquam
                    voluptas, labore ratione iusto illo non nam!</p>
            </div>

        </div>
        <div class="box">
            <i class="fa-sharp fa-solid fa-2xl fa-calendar-days"></i>
            <div class="content">
                <h3>The largest and greatest</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore eius perferendis natus numquam
                    voluptas, labore ratione iusto illo non nam!</p>
            </div>

        </div>
        <div class="box">
            <i class="fa-sharp fa-solid fa-2xl fa-calendar-days"></i>
            <div class="content">
                <h3>The largest and greatest</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore eius perferendis natus numquam
                    voluptas, labore ratione iusto illo non nam!</p>
            </div>

        </div>
    </div>
</body>

</html>